.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
}

.content {
  align-self: center;
}

.item {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img {
  width: 36rem;
  height: 20rem;
  background-color: gray;
  border: 0.5px solid #606060;
}

.info {
  margin-left: 1vw;
}

.project_url {
  text-decoration: none;
  color: blue;
}

.github_address {
  margin: 0;
}
