.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(C:\Users\hacko\Desktop\GitHub\react-portfolio\src\components\main_page\main_image2.png);
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  align-self: center;
  font-size: 4vw;
}
